editor-form(form-title='Add a project', save-disabled='vm.projectAddForm.$invalid', discard='alert("yo")')
	form.ui.form(name='vm.projectAddForm')
		.field
			label Project name
			input(type='text', required, placeholder='Enter a name...', ng-model='vm.name')
		.field
			label Description
			textarea(placeholder='Enter a description...', ng-model='vm.description')
.ui.container
	.ui.segment
		pre {{ vm | json }}			