head
    block styles
        // build:css css/vendor.css 
        // bower:css
        link(rel='stylesheet', href='../../bower_components/semantic-ui/dist/semantic.css')
        // endbower
        // endbuild 
            
        // build:css css/app.css 
        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='css/theme-1.css')
        // endbuild 