block scripts               
    // build:js js/vendor.js    
    // bower:js
    // endbower
    // endbuild 

    // build:js js/app.js 
    //- inject:js
    script(src="js/main.js")
    script(src="js/navigation/navigation-controller.js")
    script(src="js/frontend/frontend-module.js")
    script(src="js/frontend/frontend-model.js")
    script(src="js/frontend/frontend-controller.js")
    script(src="js/backend/backend.module.js")
    script(src="js/backend/backend.controller.js")
    //- endinject
    // endbuild 