.ui.one.column.grid.container
	.column
		.ui.top.attached.inverted.grey.icon.menu
			.ui.container
				.item
					.ui.buttons
						button.ui.inverted.primary.icon.button(ng-disabled='vm.saveDisabled', ng-click='vm.save()')
							i.save.icon
							| &nbsp;Save
						button.ui.basic.inverted.grey.icon.button(ng-click='vm.cancel()')
							i.cancel.icon
							| &nbsp;Discard
				.item.header {{ vm.formTitle }}
		.ui.attached.padded.segment
			ng-transclude
