head
    block styles
        // build:css css/vendor.css 
        // bower:css
        // endbower
        // endbuild 
        link(rel='stylesheet', href='../bower_components/semantic-ui/dist/semantic.css')                
        // build:css css/app.css 
        link(rel='stylesheet', href='css/app.css')
        // endbuild 