head
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block styles
        // build:css css/vendor.css 
        //- bower:css
        //- endinject
        // endbuild 

        link(rel='stylesheet', href='semantic/semantic.min.css') 

        // build:css css/app.css

        link(rel='stylesheet', href='css/app.css')
        // endbuild       