head
    block styles
        // build:css css/vendor.css 
        //- bower:css
        //- endinject
        // endbuild 

        // build:css css/app.css
        link(rel='stylesheet', href='semantic/semantic.css') 
        link(rel='stylesheet', href='css/app.css')
        // endbuild       