block scripts               
    // build:js js/vendor.js    
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='../bower_components/semantic-ui/dist/semantic.js')
    // endbower
    // endbuild 

    // build:js js/app.js
    //- inject:js
    script(src="js/main.js")
    script(src="js/navigation/navigation-controller.js")
    script(src="js/module-b/module-b.js")
    script(src="js/module-b/module-b-index-controller.js")
    script(src="js/module-a/module-a-module.js")
    script(src="js/module-a/module-a-demo-controller.js")
    script(src="js/module-a/IDemoModel.js")
    //- endinject
    // endbuild 