.ui.top.fixed.inverted.blue.menu(ng-controller="NavigationController")
		.ui.container
				a.header.item(ui-sref="home") Front end seed
				a.grey.item(ui-sref="moduleA", ui-sref-active="active") Module A
				a.grey.item(ui-sref="moduleB", ui-sref-active="active") Module B
				a.grey.item(ui-sref="projects", ui-sref-active="active") Projects
				.right.menu
					a.item
						i.ui.setting.icon 