.ui.stackable.inverted.blue.menu(ng-controller="navigationController")
	a.header.item(ui-sref="home") Front end seed
	a.grey.item(ui-sref="moduleA", ui-sref-active="active") Module A
	a.grey.item(ui-sref="moduleB", ui-sref-active="active") Module B
	.right.menu
		a.item yoo