div.ui.menu(ng-controller="navigationController")
    a.teal.item(ng-href="#/backend", ng-class="{active: isActive('/backend')}") yo
    a.teal.item(ng-href="#/frontend", ng-class="{active: isActive('/frontend')}" ) yo2