doctype html
html(lang="en", ng-app='frontEndSeed')
    
    include shared/_head.jade

    body(ng-controller='mainController as vm')    
        .ui.page.grid
            .sixteen.wide.column
                h1.ui.header Front end seed
                    .sub.header A test of the jade template engine and Gulp build process

                include navigation/navigation.jade

                div.basic.ui.segment
                    div(ng-view)

       include shared/_scripts.jade